:root{
  --primary-color: #ee4d2d;
  --write-color: #fff;
  --black-color: #000;
  --text-color:#333;
  --boder-color: #bdbdbd;
  --start-gold-color: #ffce3e;

  --header-height: 100px;
  --navbar-height: 36px; 
  --header-with-search-heigth: calc(var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 46px;
}
*{
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.grid__full-width{
  width: 10%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* tesst */
.grid__column-2{
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__column-2-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__column-10{
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* animiton */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    opacity: scale(var(--growth-form));
  }
  to {
    opacity: scale(var(--growth-to));
  }
}

/* button style */
.btn{
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 12px;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
  line-height: 1.6rem;
}
.btn:hover{
  background-color: rgb(0, 0, 0,0.05);
}
.btn.btn--size-s{
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}
.btn.btn--primary{
  background-color: var(--primary-color);
  color: var(--write-color);
}
.btn.btn-disabled{
  cursor: default;
  color: #949494;
}

/* selection */
.select-input{
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--write-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.select-input:hover .select-input__list{
  display: block;
}
.select-input__label{
  font-size: 1.4rem;
}
.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  padding: 10px 16px;
  list-style: none;
  background-color: var(--write-color);
  display: none;
  z-index: 1;
}
.select-input__icon{
  color: rgb(131, 131, 131);
  font-size: 1.4rem;
  margin: 0 16px 0 18px;
  position: relative;
  top: 1px;
}
.select-input__link{
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.select-input__link:hover{
  color: var(--primary-color);
}
.home-filter__page{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-num{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__page-current{
  color: var(--primary-color);
  
}
.home-filter__page-control{
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn{
  flex: 1;
  display: flex;
  text-decoration: none;
  background-color: var(--write-color);
}
.home-filter__page-btn-disabled{
  background-color: #f9f9f9;
  cursor: default;
}
.home-filter__page-btn-disabled .home-filter__page-icon{
  color: #ccc;
}
.home-filter__page-btn:first-child{
  border-right: 1px solid #eee;
}
.home-filter__page-icon{
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

/* pagination */
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pagination-item{
  margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
  color: var(--write-color);
  background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
  background-color: #ed5c3f;
}
.pagination-item__link{
  display: block;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.6rem;
  color: #939393;
  min-width: 40px;
  border-radius: 2px;
  --height: 30px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
}
/* footer */
.footer{
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
}
.footer__heading{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.footer-list{
  padding-left: 0;
  list-style: none;
}
.footer-item__link{
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: flex;
  align-items: center;
}
.footer-item__link:hover{
  color: var(--primary-color);
}
.footer-item__icon{
  font-size: 1.6 rem;
  margin: -1px 8px 0 0;
}
.footer__download{
  display: flex;
}
.footer__download-qr{
  width: 80px;
  object-fit: contain;
  border: 1px solid var(--boder-color);
}
.footer__download-apps{
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__download-app-img{
  height: 20px;
}
.footer__download-apps--link{
  color: transparent;
  text-decoration: none;
}
.footer__bottom{
  padding: 8px 0;
  background-color: #f5f5f5;
  margin-top: 36px;
}
.footer__text{
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  color: #737373;
}
