:root{
  --primary-color: #ee4d2d;
  --write-color: #fff;
  --black-color: #000;
  --text-color:#333;
  --boder-color: #bdbdbd;

  --header-heigth: 120px;
  --navbar-height: 34px; 
  --header-with-search-heigth: calc(var(--header-heigth) - var(--navbar-height));
}
*{
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width{
  width: 10%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* tesst */
.grid__column-2{
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__column-2-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__column-10{
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* animiton */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    opacity: scale(var(--growth-form));
  }
  to {
    opacity: scale(var(--growth-to));
  }
}

/* button style */
.btn{
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 12px;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
  line-height: 1.6rem;
}
.btn:hover{
  background-color: rgb(0, 0, 0,0.05);
}
.btn.btn--size-s{
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}
.btn.btn--primary{
  background-color: var(--primary-color);
  color: var(--write-color);
}
.btn.btn-disabled{
  cursor: default;
  color: #949494;
}

/* selection */
.select-input{
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--write-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.select-input:hover .select-input__list{
  display: block;
}
.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  padding: 10px 16px;
  list-style: none;
  background-color: var(--write-color);
  display: none;
}
.select-input__link{
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.select-input__link:hover{
  color: var(--primary-color);
}
.home-filter__page{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__page-num{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__page-current{
  color: var(--primary-color);
  
}
.home-filter__page-control{
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__page-btn{
  flex: 1;
  display: flex;
  text-decoration: none;
  background-color: var(--write-color);
}
.home-filter__page-btn-disabled{
  background-color: #f9f9f9;
  cursor: default;
}
.home-filter__page-btn-disabled .home-filter__page-icon{
  color: #ccc;
}
.home-filter__page-btn:first-child{
  border-right: 1px solid #eee;
}
.home-filter__page-icon{
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}
